.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  
  /* 

    to center div, 
      - set display: flex to make the container a flexbox
      - justify-content is for the main axis, means to center l t r
      - align-items is for the cross axis, means t t b 
      - this can be changed depending on flex direction
  
  */

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}