.header  {
  font-family: monospace;
  background: papayawhip;

  /* make the items in row */
  display: flex;

  /* make the items perfectly equal of space */
  justify-content: space-between;

  /* since we remove the default margin, we need to 
  align the items cross axis to center */
  align-items: center;

  /* adding a padding to have extra space to left right */
  padding: 5px;
  
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;

  /* making ul a flex will make the items in row */
  display: flex;

  /* removing the default margin and padding */
  margin: 0;
  padding: 0;

  /* adding a gap between items */
  gap: 5px;
}


a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}